# Logs
**/logs

# Build dir
target

# Redis data dump
dump.rdb

# VS Code editor cfg dir
.vscode

# macOS Finder folder-specific settings
.DS_Store

# Emacs auto-save files
**/#*
**/.#*
**/*~

# .env Files
.env
